<!DOCTYPE HTML>
<html ng-app="sfdc" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Console</title>

    <script src="webjars/angularjs/1.2.11/angular.min.js"></script>
    <script src="webjars/angularjs/1.2.11/angular-resource.min.js"></script>

    <script language="JavaScript">
        var appName = 'sfdc';
        var module = angular.module(appName, [ 'ngResource' /*, 'ngSanitize', 'ui'*/]);


        function SfdcController($scope, $http) {

            $http.get('/user').success(function (data) {
                $scope.user = data;
            });

            $scope.process = function () {
                $http.post('/process').success(function (data) {
                    $scope.process = data;
                });
            };

        }
    </script>
</head>
<body>
<h1> SFDC Lead Enricher
</h1>

<div ng-controller="SfdcController">

    <div id="status">

        <div>Welcome <b>{{user.username}}</b>!</div>

        <div><a ng-click="process()" href=""> Click here to launch a synchronization process for your account. </a>
        </div>
        <br/>
        <table>
            <tr>
                <td style="color: lightgrey">Batch ID</td>
                <td>{{process.batchId}}</td>
            </tr>
            <tr>
                <td style="color: lightgrey">Access Token</td>
                <td> {{process.accessToken}}</td>
            </tr>
            <tr>
                <td style="color: lightgrey">API Endpoint</td>
                <td> {{process.apiEndpoint}}</td>
            </tr>
        </table>

    </div>


</div>
</body>
</html>