<!DOCTYPE HTML>
<html ng-app="sfdc"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Console</title>

    <script src="webjars/jquery/2.0.3/jquery.min.js"></script>
    <script src="webjars/angularjs/1.2.11/angular.min.js"></script>
    <script src="webjars/angularjs/1.2.11/angular-resource.min.js"></script>

    <script language="JavaScript">
        var appName = 'sfdc';
        var module = angular.module(appName, [ 'ngResource' /*, 'ngSanitize', 'ui'*/]);


        function SfdcController ($scope, $http) {

           /* // load the page data
            $http.get('/contacts').success(function (data) {
                $scope.contacts = data;
            });

            $scope.processContact = function (contact) {
                // support processing individual rows
                $http.post("/map", contact).success(function(data){
                      window.alert( 'sent!' );
                });

            };*/


        }
    </script>
</head>
<body>
<h1> SFDC Lead Enricher
</h1>

<div ng-controller="SfdcController">
   <!-- <table>
        <tr ng-repeat="c in contacts">
            <td><span style="color: lightgrey">{{c.id}}</span></td>
            <td> {{c.firstName}} {{c.lastName}}</td>
            <td> {{c.email}}</td>
            <td> {{c.mailingStreet}}</td>
            <td>
                <a ng-click="processContact(c)" href="#">Throw to Map</a>
            </td>
        </tr>
    </table>-->



    <div id="status">

        {{user.email}}

    </div>


</div>
</body>
</html>