<!DOCTYPE HTML>
<html ng-app="sfdc" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Google Force
    </title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <link href="webjars/bootstrap/3.0.2/css/bootstrap.css" rel="stylesheet"/>
    <style>
        #console {
            position: fixed;
            right: 10px;
            top: 10px;
            z-index: 1;
            width: 300px;
            padding: 10px;
            border: 2px solid lightgrey;
            background-color: white;
        }

        html, body {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        #map-canvas {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            margin: 0px;
            width: 100%;
            z-index: 2;
            padding: 0px;
        }


    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>


    <script src="webjars/jquery/2.0.3/jquery.js"></script>
    <script src="webjars/bootstrap/3.0.2/js/bootstrap.js"></script>
    <script src="webjars/stomp-websocket/2.3.0/stomp.js"></script>
    <script src="webjars/sockjs-client/0.3.4/sockjs.js"></script>
    <script src="webjars/angularjs/1.2.11/angular.js"></script>
    <script src="webjars/angularjs/1.2.11/angular-resource.js"></script>


    <script language="JavaScript">
        //<![CDATA[

        ///
        /// globals
        ///
        var map;
        var appName = 'sfdc';
        var module = angular.module(appName, [ 'ngResource'  ]);

        function SfdcController($scope, $http) {

            $scope.query = 'morgan';

            $http.get('/user').success(function (data) {
                $scope.user = data;
            });

            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = new google.maps.LatLng({latitude: position.coords.latitude, longitude: position.coords.longitude}.latitude, {latitude: position.coords.latitude, longitude: position.coords.longitude}.longitude);
                map = new google.maps.Map(document.getElementById('map-canvas'), { mapTypeControl: false, center: pos, zoom: 13  });
                new google.maps.InfoWindow({
                    map: map,
                    position: pos,
                    content: 'You Are Here.'
                });
            });

//            $('#console').addClass('console-overlay');
            $('#console').css({'z-index': '100'});

            $scope.process = function () {
                $http.post('/process', $scope.query).success(function (data) {
                    $scope.batchData = data;
                    var batchId = $scope.batchData.batchId;
                    $http.get('/results/' + batchId).success(function (results) {
                        for (var i = 0; i < results.length; i++) {
                            var result = results[i];
                            if ((result.latitude != null && result.longitude != null && result.longitude != 0.0 && result.latitude != 0.0)) {
                                new google.maps.InfoWindow({
                                    map: map,
                                    position: new google.maps.LatLng(result.latitude, result.longitude),
                                    content: result.toString() + ''
                                });
                            }
                        }
                    });
                });
            };
        }
        //]]>
    </script>


</head>
<body>

<div id="console">


    <div ng-controller="SfdcController">

        <div id="status">

            <div>Welcome <b>{{user.username}}</b>!</div>


            <br/>


            <form name="searchForm" class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Search"
                           name="query"
                           id="query"
                           ng-model="query"/>

                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="process()" type="submit"><span
                                class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>


            <div ng-show="results">
                <table>
                    <tr>
                        <td style="color: lightgrey">Batch ID</td>
                        <td>{{batchData.batchId}}</td>
                    </tr>
                    <tr>
                        <td style="color: lightgrey">Access Token</td>
                        <td> {{batchData.accessToken}}</td>
                    </tr>
                    <tr>
                        <td style="color: lightgrey">API Endpoint</td>
                        <td> {{batchData.apiEndpoint}}</td>
                    </tr>
                </table>
            </div>

        </div>


    </div>
</div>
<div id="map-canvas"></div>

</body>
</html>