<!DOCTYPE HTML>
<html ng-app="sfdc" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Google Force
</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<meta charset="utf-8"/>
<link href="webjars/bootstrap/3.0.2/css/bootstrap.css" rel="stylesheet"/>
<style>
    #console {
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 1;
        width: 400px;
        padding: 10px;
        border: 2px solid lightgrey;
        background-color: white;
        overflow-y: scroll;
        bottom: 20px;
    }

    html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    #map-canvas {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        margin: 0px;
        width: 100%;
        z-index: 2;
        padding: 0px;
    }

    .results-container {
        margin-top: 30px;
        margin-left: 30px;
    }

    .expanded-result {
        background-color: gainsboro;
        padding: 5px;
        margin-bottom: 5px;
    }

    #status {
        margin-top: 10px;
        margin-bottom: 10px;
    }


</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>


<script src="webjars/jquery/2.0.3/jquery.js"></script>
<script src="webjars/bootstrap/3.0.2/js/bootstrap.js"></script>
<script src="webjars/stomp-websocket/2.3.0/stomp.js"></script>
<script src="webjars/sockjs-client/0.3.4/sockjs.js"></script>
<script src="webjars/angularjs/1.2.11/angular.js"></script>
<script src="webjars/angularjs/1.2.11/angular-resource.js"></script>


<script language="JavaScript">
    //<![CDATA[

    ///
    /// globals
    ///
    var map;
    var appName = 'sfdc';
    var module = angular.module(appName, [ 'ngResource'  ]);

    function SfdcController($scope, $http) {

        $scope.query = 'morgan';
        $scope.results = [];

        $http.get('/user').success(function (data) {
            $scope.user = data;
        });

        var toLatLng = function (p) {
            return new google.maps.LatLng(p['coords']['latitude'], p['coords']['longitude']);
        };

        var keyForRecord = function (record) {
            return record.longitude + ':' + record.latitude;
        };

        var markers = [];

        var renderMap = function () {
            var results = $scope.results;
            // first lets get rid of the records that dont lend themselves to being displayed on a map
            //
            var x = [];
            for (var p = 0; p < results.length; p++) {
                var r = results [p];
                var dud = function (e) {
                    return e == null || e == 0.0;
                };
                var perfect = !dud(r.latitude) && !dud(r.longitude);
                if (perfect) {
                    x.push(r);
                }

            }
            $scope.results = x; // filter out the unwanted bits

            // lets normalize the records into a map
            var mapOfPoints = {};
            jQuery.each($scope.results, function (indx, record) {
                var k = keyForRecord(record);
                if (!(k in mapOfPoints)) {
                    mapOfPoints[k] = [];
                }
                mapOfPoints[k].push(record);
                console.debug('there are ' + mapOfPoints[k].length + ' records associated with the key ' + k)
            });

            // now loop through normalized results and setup markers
            var contentForInfoPoint = function (records) {
                var c = '';
                if (records.length == 1) {
                    var r = records [0];
                    c = '<h1>' + $scope.cleanName(r) + '</h1>' + '<P>' + r.email + '</P>';
                }
                else {
                    c = '(' + records.length + ' results)';
                }
                return c;
            };

            var oldResults = [];

            $scope.focusOnResults = function (records) {
                $scope.$apply(function () {


                    oldResults = $scope.results;
                    $scope.results = records;
                    jQuery.each($scope.results, function (i, record) {
                        record.expanded = false;
                    });
                    if ($scope.results.length == 1) {
                        $scope.focusOnResult($scope.results[0])
                    }

                });
            };
            $scope.removeResultFocus = function (record) {
                record.expanded = false;
            };
            $scope.focusOnResult = function (record) {
                record.expanded = true
            };

            var positionForInfoPoint = function (records) {
                var latLong = records.length >= 1 ? records[0] : null;
                console.debug('latLong:' + JSON.stringify(latLong));
                return new google.maps.LatLng(latLong.latitude, latLong.longitude);
            };


            jQuery.each(mapOfPoints, function (k, v) {
                var records = v;
                console.debug(k + '=' + v.length);
                var content = contentForInfoPoint(v);
                var marker = new google.maps.Marker({
                    visible: true,
                    map: map,
                    title: content,
                    position: positionForInfoPoint(v)
                });

                markers.push(marker);

                google.maps.event.addListener(marker, 'click', function () {

                    // lets also draw a InfoWindow

                    // first, lets make it so that clcking on somehting loads the details in the side bar

                    $scope.focusOnResults(records);


                    map.setZoom(8);
                    map.setCenter(marker.getPosition());
                });

                console.debug('adding a marker for ' + content)
            });
        };

        var renderResults = function (results) {
            // clear existing info points if any
            jQuery.each(markers, function (i, ip) {
                ip.setMap(null);
            });
            $scope.results = results;
            renderMap();
        };

        navigator.geolocation.getCurrentPosition(function (position) {
            var pos = toLatLng(position);
            map = new google.maps.Map(document.getElementById('map-canvas'), { mapTypeControl: false, center: pos, zoom: 13  });
            new google.maps.InfoWindow({
                map: map,
                position: pos,
                content: 'You Are Here.'
            });
            $('#console').css({'z-index': '100'});
        });


        /// public methods

        $scope.cleanName = function (r) {
            var fn = r.firstName.toLowerCase(),
                    ln = r.lastName.toLowerCase();
            fn = (fn.charAt(0) + '').toUpperCase() + fn.substring(1);
            ln = (ln.charAt(0) + '').toUpperCase() + ln.substring(1);
            return ln + ', ' + fn;
        };

        $scope.process = function () {
            $http.post('/process', $scope.query).success(function (data) {
                $scope.batchData = data;
                $scope.batchId = $scope.batchData.batchId;
                $http.get('/results/' + $scope.batchId).success(function (results) {
                    renderResults(results);
                });
            });
        };

        $scope.address = function (r) {
            function hasText(s) {
                return (s == null || s == '' ? false : true);
            }

            var s = '';

            if (hasText(r.street)) s += r.street + ' ';
            if (hasText(r.city)) s += r.city + ',';
            if (hasText(r.state)) s += ' ' + r.state + '. ';
            if (hasText(r.postalCode)) s += ' ' + r.postalCode;
            if (!hasText(s)) {
                return '(location unknown)';
            }
            else {
                return s;
            }

        };


        function toggleAll(v) {
            jQuery.each($scope.results, function (i, record) {
                record.expanded = v;
            });
        }

        $scope.removeFocusFromAllResults = function () {
            toggleAll(false);
        };
        $scope.focusOnAllResults = function () {
            toggleAll(true);
        }
        $scope.process();

    }


    //]]>
</script>


</head>
<body>

<div ng-show="user != null" ng-controller="SfdcController" id="console">


    <div>Welcome <b>{{user.username}}</b>!</div>

    <br/>

    <form name="searchForm" class="navbar-form" role="search">
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="Search"
                   name="query"
                   id="query"
                   ng-model="query"/>

            <div class="input-group-btn">
                <button class="btn btn-default" ng-click="process()" type="submit"><span
                        class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    </form>
    <div class="results-container" ng-show="results.length > 0 ">
        <div id="status" ng-show="batchData.batchId">
             <span class="results-count">
                 Displaying {{ results.length }} results.

                 <a href="" ng-click="focusOnAllResults()">expand all</a> | <a ng-click="removeFocusFromAllResults()"
                                                                               href="">hide all</a>
             </span>
        </div>

        <div class="inline">
            <div ng-repeat="r in results">
                <span ng-show="!r.expanded"><strong> {{ cleanName(r) }} </strong> -</span>
                <span style="font-size: smaller">

                    <span ng-show="!r.expanded">
                        <a ng-click="focusOnResult(r)" href="#">expand</a>
                    </span>
                </span>

                <div class="expanded-result" ng-show="r.expanded">

                    <span style="font-size: larger"><strong ng-show="r.expanded"> {{ cleanName(r) }} </strong>   </span><br/>
                    {{address(r)}}
                    <br/>

                    {{ r.email }}


                    <div><span ng-show="r.expanded">
                        <a ng-click="removeResultFocus(r)" href="#">hide</a>
                    </span></div>
                </div>


            </div>
        </div>

    </div>

</div>


<div id="map-canvas"></div>

</body>
</html>