<!doctype html>
<html ng-app="contacts">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="webjars/angularjs/1.2.11/angular.min.js"></script>
    <script src="webjars/angularjs/1.2.11/angular-resource.min.js"></script>

    <script language="JavaScript">
        var appName = 'contacts';
        var module = angular.module(appName, [ 'ngResource' /*, 'ngSanitize', 'ui'*/]);
        function ContactsController($scope, $http) {

            // load the page data
            $http.get('/contacts').success(function (data) {
                $scope.contacts = data;
            });

            $scope.processContact = function (contact) {
                // support processing individual rows
                $http.post("/map", contact).success(function(data){
                      window.alert( 'sent!' );
                });

            };


        }
    </script>
</head>
<body>
<h1> Contacts
</h1>

<div ng-controller="ContactsController">
    <table>
        <tr ng-repeat="c in contacts">
            <td><span style="color: lightgrey">{{c.id}}</span></td>
            <td> {{c.firstName}} {{c.lastName}}</td>
            <td> {{c.email}}</td>
            <td> {{c.mailingStreet}}</td>
            <td>
                <a ng-click="processContact(c)" href="#">Throw to Map</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>